@import "tailwindcss";

body {
  @apply text-gray-900 bg-white;
}
select {
  color: #111827;       /* gray-900 */
  background-color: #ffffff;
}

select option {
  color: #111827;
  background-color: #ffffff;
}

